<span class="title txt-upper">
    <i class="icon-folder-open"></i>
    Today
</span>
<ul class="achivements">
    <li>
        <i class="icon-star"></i>
        <span class="content">
            You`ve unlocked achivement "Manchkin" - be the most active user of the week.
        </span>
        <span class="date">Today, 9:15</span>
    </li>
    <li>
        <i class="icon-star"></i>
        <span class="content">
            You`ve earned 100 pts. for quiz completion. Congratulations!
        </span>
        <span class="date">Today, 9:15</span>
    </li>
</ul>
<span class="title txt-upper">
    <i class="icon-folder-open"></i>
    Last week
</span>
<ul class="achivements">
    <li>
        <i class="icon-star"></i>
        <span class="content">
            You`ve unlocked achivement "Demiurge" - create your first quiz.
        </span>
        <span class="date">6/11/2014</span>
    </li>
    <li>
        <i class="icon-star"></i>
        <span class="content">
            You`ve earned 100 pts. for quiz completion. Congratulations!
        </span>
        <span class="date">6/11/2014</span>
    </li>
    <li>
        <i class="icon-star"></i>
        <span class="content">
            You`ve unlocked achivement "Profit!" - earn first points.
        </span>
        <span class="date">6/10/2014</span>
    </li>
    <li>
        <i class="icon-star"></i>
        <span class="content">
            You`ve earned 20 pts. for quiz completion. Congratulations!
        </span>
        <span class="date">6/10/2014</span>
    </li>
    <li>
        <i class="icon-star"></i>
        <span class="content">
            You`ve unlocked achivement "Herzlich willkomen!" - sign up to app.
        </span>
        <span class="date">6/10/2014</span>
    </li>
</ul>