<div class="answer-survey">
    <ul class="meta">
        <li class="head">{{survey.title}} / {{survey.reason}} / {{survey.questionsCount}} questions</li>
        <li>{{question.enquiry}}</li>
    </ul>
    <div ng-if="question.isSingleSelect" seed-radio-list="question.answers"></div>
    <div ng-if="!question.isSingleSelect" seed-checkbox-list="question.answers"></div>
    <ul class="meta">
        <li class="head">
            Question #{{currentQuestionIndex}}
            <a class="btn-submit" ng-click="submitAnswer()">
                Submit
            </a>
        </li>
    </ul>
    <!--<div ng-if="question.$resolved">
        <div class="row" ng-show="!completed">
        </div>
        <div class="row" ng-show="!completed">
            <div class="splitter"></div>
            <a class="btn btn-bordered-brand" ng-click="submitAnswer()">
                <i class="icon-page-next"></i>
                Submit
            </a>
        </div>
        <div class="row" ng-if="completed">
            Congratulations, you`ve finished!
            <p ng-if="status.$resolved && status.isNeedShow">
                {{status.change}} points earned for survey completion. You now have {{status.total}} points!
            </p>
        </div>
    </div>-->
</div>