<div class="row">
    <aside class="col-lg-2 navigation">
        <div class="row">
            <a class="logo">
                ?
            </a>
        </div>
        <div class="row">
            <ul class="list-unstyled menu">
                <li>
                    <a>
                        <i class="icon-user"></i>
                        <span class="txt-upper">
                            Profile
                        </span>
                    </a>
                </li>
                <li>
                    <a ui-sref="dashboard.surveysManager">
                        <i class="icon-note"></i>
                        <span class="txt-upper">
                            Manage surveys
                        </span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="icon-star"></i>
                        <span class="txt-upper">
                            Available surveys
                        </span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="icon-star"></i>
                        <span class="txt-upper">
                            Achivements
                        </span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="icon-stack"></i>
                        <span class="txt-upper">
                            Notifications
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="row">
            <ul class="list-unstyled alerts">
                <li>
                    <i class="icon-remove pull-right"></i>
                    Sample alert!
                </li>
            </ul>
        </div>
    </aside>
    <div class="col-lg-10">
        <div class="top-bar">
            <i class="icon-page-next"></i>
            <span class="title" ng-bind="title"></span>
            -
            <span class="description" ng-bind="description"></span>
            <div class="pull-right user">
                <i class="icon-user"></i>
                <span>Username</span>
                |
                <a>Log out</a>
            </div>
        </div>
        <div ui-view></div>
    </div>
</div>