<div class="row margin">
    <seed-breadcrumbs class="col-lg-9"></seed-breadcrumbs>
    <seed-head-bar-graph class="col-lg-3" style="display: block" ng-if="headBarGraph" ng-model="headBarGraph"></seed-head-bar-graph>
</div>
<div class="row">
    <div class="col-lg-9" ui-view></div>
    <div class="col-lg-3">
        <ul class="tiles">
            <li ui-sref-active="active">
                <a ui-sref="dashboard.activity">
                    <div class="centered-wrapper">
                        <div class="centered">
                            <i class="icon-activity"></i>
                            Activity
                        </div>
                    </div>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.leads">
                    <div class="centered-wrapper">
                        <div class="centered">
                            <i class="icon-leads"></i>
                            Leads
                        </div>
                    </div>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.listings">
                    <div class="centered-wrapper">
                        <div class="centered">
                            <i class="icon-listings"></i>
                            Listings
                        </div>
                    </div>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.agents">
                    <div class="centered-wrapper">
                        <div class="centered">
                            <i class="icon-agents"></i>
                            Agents
                        </div>
                    </div>
                </a>
            </li>
            <li class="empty"></li>
            <li class="empty"></li>
            <li class="empty"></li>
            <li class="empty"></li>
            <li class="empty"></li>
        </ul>
    </div>
</div>
