<div class="row">
    <aside class="col-lg-2 navigation">
        <div class="row">
            <a class="logo">
                soci<i class="icon-check-circle-o"></i>rama
            </a>
        </div>
        <div class="row">
            <ul class="list-unstyled menu">
                <li ui-sref-active="active">
                    <a ui-sref="dashboard.profile">
                        <i class="icon-user"></i>
                        <span class="txt-upper">
                            Profile
                        </span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="dashboard.surveysManager">
                        <i class="icon-note"></i>
                        <span class="txt-upper">
                            My quizzes
                        </span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="dashboard.surveyView">
                        <i class="icon-bubble"></i>
                        <span class="txt-upper">
                            Rock questions
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="row">
            <ul class="list-unstyled alerts">
                <li ng-class="statAlert.css" ng-show="statAlert.visible">
                    <i class="icon-remove pull-right" ng-click="statAlert.visible = false"></i>
                    Your stats: <br />
                    Questions: {{statAlert.questions}} <br />
                    Quizzes: {{statAlert.quizzes}} <br />
                    Points: {{statAlert.points}} <br />
                </li>
                <li ng-class="alert.css" ng-repeat="alert in alerts">
                    <i class="icon-remove pull-right" ng-click="removeAlert(alert)"></i>
                    {{alert.text}}
                </li>
            </ul>
        </div>
    </aside>
    <div class="col-lg-10">
        <div class="top-bar">
            <p class="description" ng-bind="description"></p>
            <div class="pull-right user">
                <i class="icon-user"></i>
                <span class="txt-upper">Dmitry Turach</span>
                |
                <a class="txt-upper" href="/" target="_self">Log out</a>
            </div>
        </div>
        <div ui-view></div>
    </div>
</div>