<div class="row profile">
    <div class="col-lg-2">
        <i class="icon-user"></i>
    </div>
    <div class="col-lg-10">
        <ul class="achivements">
            <li class="txt-upper txt-b name">Dmitry Turach</li>
            <li>24 years old</li>
            <li>Male</li>
            <li>Married</li>
            <li>Has 1 kid.</li>
        </ul>
    </div>
</div>
<div class="row head">
    <span class="title txt-upper">
        Today achivements
        <i class="icon-folder-open"></i>
    </span>
</div>
<ul class="achivements">
    <li>
        <i class="icon-diamond"></i>
        <span class="content">
            You`ve unlocked achivement "Manchkin" - be the most active user of the week.
        </span>
        <span class="date">Today, 9:15</span>
    </li>
    <li>
        <i class="icon-diamond"></i>
        <span class="content">
            You`ve earned 100 pts. for quiz completion. Congratulations!
        </span>
        <span class="date">Today, 9:15</span>
    </li>
</ul>
<div class="row head">
    <span class="title txt-upper">
        Last week activity
        <i class="icon-folder-open"></i>
    </span>
</div>
<ul class="achivements">
    <li>
        <i class="icon-diamond"></i>
        <span class="content">
            You`ve unlocked achivement "Demiurge" - create your first quiz.
        </span>
        <span class="date">6/11/2014</span>
    </li>
    <li>
        <i class="icon-diamond"></i>
        <span class="content">
            You`ve earned 100 pts. for quiz completion. Congratulations!
        </span>
        <span class="date">6/11/2014</span>
    </li>
    <li>
        <i class="icon-diamond"></i>
        <span class="content">
            You`ve unlocked achivement "Profit!" - earn first points.
        </span>
        <span class="date">6/10/2014</span>
    </li>
    <li>
        <i class="icon-diamond"></i>
        <span class="content">
            You`ve earned 20 pts. for quiz completion. Congratulations!
        </span>
        <span class="date">6/10/2014</span>
    </li>
    <li>
        <i class="icon-diamond"></i>
        <span class="content">
            You`ve unlocked achivement "Herzlich willkomen!" - sign up to app.
        </span>
        <span class="date">6/10/2014</span>
    </li>
</ul>
