<div class="editor">
    <ul class="meta">
        <li class="input">
            <input type="text" placeholder="Title.." ng-model="survey.meta.title" />
        </li>
        <li class="input">
            <input type="text" placeholder="Reason..." ng-model="survey.meta.reason" />
        </li>
        <li class="input">
            <div ng-if="survey.meta.selectedTargets.$resolved" seed-checkbox-dropdown="survey.meta.selectedTargets"></div>
        </li>
        <li class="input">
            <div ng-if="priorities.$resolved" seed-select-list="priorities" selected-value="survey.meta.selectedPriorityId"></div>
        </li>
        <li class="input">
            <div ng-if="categories.$resolved" seed-select-list="categories" selected-value="survey.meta.selectedCategoryId"></div>
        </li>
        <li class="head">
            Question
            <a class="btn-head yes-no" ng-click="addQuestion('yes|no')">
                Yes|No
            </a>
            <a class="btn-head assurance" ng-click="addQuestion('assurance')">
                Assurance
            </a>
            <a class="btn-head single" ng-click="addQuestion('single')">
                Single
            </a>
            <a class="btn-head multi" ng-click="addQuestion('multi')">
                Multi
            </a>
        </li>
    </ul>
    <div seed-edit-question="survey.question"></div>
    <ul class="meta">
        <li class="head">
            &nbsp;
            <a class="btn-head multi" ng-click="saveSurvey()">
                Save
            </a>
        </li>
    </ul>
</div>