<div class="surveys" ng-show="surveys.questions">
    <span class="title txt-upper" ng-click="toggle(surveys.questions)">
        <i ng-class="{'icon-folder': !surveys.questions.visible, 'icon-folder-open': surveys.questions.visible}"></i>
        Single question
    </span>
    <button class="btn btn-bordered-brand">
        <i class="icon-pencil"></i>
        Create
    </button>
    <ul class="grid" ng-show="surveys.questions.visible">
        <li class="head">
            <div class="col-lg-3 text">
                Enquiry
            </div>
            <div class="col-lg-3">
                Category
            </div>
            <div class="col-lg-3">
                Priority
            </div>
            <div class="col-lg-3">
                Target
            </div>
        </li>
        <li class="value" ng-repeat="question in surveys.questions">
            <div class="col-lg-3 text">
                {{question.enquiry}}
            </div>
            <div class="col-lg-3">
                {{question.category}}
            </div>
            <div class="col-lg-3">
                {{question.priority}}
            </div>
            <div class="col-lg-3">
                {{question.target}}
            </div>
        </li>
    </ul>
</div>
<div class="splitter"></div>
<div class="surveys" ng-show="surveys.quizzes">
    <span class="title txt-upper" ng-click="toggle(surveys.quizzes)">
        <i ng-class="{'icon-folder': !surveys.quizzes.visible, 'icon-folder-open': surveys.quizzes.visible}"></i>
        Quizzes
    </span>
    <button class="btn btn-bordered-brand">
        <i class="icon-pencil"></i>
        Create
    </button>
    <ul class="grid" ng-show="surveys.quizzes.visible">
        <li class="head">
            <div class="col-lg-3 text">
                Enquiry
            </div>
            <div class="col-lg-3">
                Category
            </div>
            <div class="col-lg-3">
                Priority
            </div>
            <div class="col-lg-2">
                Target
            </div>
            <div class="col-lg-1">
                Questions
            </div>
        </li>
        <li class="value" ng-repeat="quiz in surveys.quizzes">
            <div class="col-lg-3 text">
                {{quiz.enquiry}}
            </div>
            <div class="col-lg-3">
                {{quiz.category}}
            </div>
            <div class="col-lg-3">
                {{quiz.priority}}
            </div>
            <div class="col-lg-2">
                {{quiz.target}}
            </div>
            <div class="col-lg-1">
                {{quiz.questionsCount}}
            </div>
        </li>
    </ul>
</div>