<div class="editor">
    <div class="col-lg-8">
        <div class="row tabs">
            <div class="slider" ng-class="{right: tab === 'questions'}"></div>
            <div class="col-lg-6" ng-click="tab = 'meta'">
                Survey settings
            </div>
            <div class="col-lg-6" ng-click="tab = 'questions'">
                Questions
            </div>
        </div>
        <div class="row meta" ng-show="tab == 'meta'">
            <div class="col-lg-4">
                <input class="col-lg-12" type="text" placeholder="Title..." ng-model="survey.meta.title" />
                <textarea class="col-lg-12" placeholder="Reason..." ng-model="survey.meta.reason" />
            </div>
            <div class="col-lg-4 col-lg-offset-2">
                <div ng-if="survey.meta.selectedTargets.$resolved" seed-checkbox-dropdown="survey.meta.selectedTargets"></div>
                <div ng-if="priorities.$resolved" seed-select-list="priorities" selected-value="survey.meta.selectedPriorityId"></div>
                <div ng-if="categories.$resolved" seed-select-list="categories" selected-value="survey.meta.selectedCategoryId"></div>
            </div>
        </div>
        <div class="row" ng-show="tab == 'questions'">
            <ul class="list-unstyled questions">
                <li ng-repeat="question in survey.questions">
                    <div seed-edit-question="question"></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-3 col-lg-offset-1 toolbar">
        <div class="row">
            <a class="btn btn-bordered-brand" ng-click="saveSurvey()">
                <i class="icon-page-next"></i>
                Save
            </a>
        </div>
        <div class="row" ng-show="tab == 'questions'">
            <div class="splitter"></div>
            <ul class="list-unstyled">
                <li>
                    <a class="btn btn-bordered-brand" ng-click="addQuestion('yes|no')">
                        <i class="icon-page-next"></i>
                        Yes|No question
                    </a>
                </li>
                <li>
                    <a class="btn btn-bordered-brand" ng-click="addQuestion('assurance')">
                        <i class="icon-page-next"></i>
                        "Assurance level" question
                    </a>
                </li>
                <li>
                    <a class="btn btn-bordered-brand" ng-click="addQuestion('single')">
                        <i class="icon-page-next"></i>
                        Single select question
                    </a>
                </li>
                <li>
                    <a class="btn btn-bordered-brand" ng-click="addQuestion('multi')">
                        <i class="icon-page-next"></i>
                        Multi select question
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>