<footer>
    <ul class="list-inline container">
        <li>
            <a href="/terms-of-use">Terms of Use
            </a>
        </li>
        <li>
            <a href="/privacy-policy">Privacy Policy
            </a>
        </li>
    </ul>
    <p class="copyright margin-s">
        © @DateTime.Now.Year. All Rights Reserved.
    </p>
</footer>
