<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core" />
  </configSections>
  <log4net>
    <appender name="DebugAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\debugLogs.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy-MM-dd" />
      <maximumFileSize value="50MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd.MM.yyyy HH:mm:ss}  %message%newline" />
      </layout>
    </appender>
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\infoLogs.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy-MM-dd" />
      <maximumFileSize value="500MB" />
      <layout type="log4net.Layout.PatternLayout">
        <converter>
          <name value="machine" />
          <type value="Seed.Logging.PatternConverters.MachinePatternConverter" />
        </converter>
        <conversionPattern value="%date{dd.MM.yyyy HH:mm:ss}  %machine  %message%newline" />
      </layout>
    </appender>
    <appender name="WarnAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\warnLogs.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy-MM-dd" />
      <maximumFileSize value="50MB" />
      <layout type="log4net.Layout.PatternLayout">
        <converter>
          <name value="machine" />
          <type value="Seed.Logging.PatternConverters.MachinePatternConverter" />
        </converter>
        <conversionPattern value="%date{dd.MM.yyyy HH:mm:ss}  %machine  %message%newline" />
      </layout>
    </appender>
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\errorLogs.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy-MM-dd" />
      <maximumFileSize value="50MB" />
      <layout type="log4net.Layout.PatternLayout">
        <converter>
          <name value="machine" />
          <type value="Seed.Logging.PatternConverters.MachinePatternConverter" />
        </converter>
        <converter>
          <name value="url" />
          <type value="Seed.Logging.PatternConverters.UrlPatternConverter" />
        </converter>
        <converter>
          <name value="referrer" />
          <type value="Seed.Logging.PatternConverters.ReferrerUrlPatternConverter" />
        </converter>
        <conversionPattern value="%date{dd.MM.yyyy HH:mm:ss}  %machine Current URL: '%url' Referrer URL: '%referrer' %message%newline%exception%newline" />
      </layout>
    </appender>
    <appender name="FatalErrorAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\fatalErrorLogs.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy-MM-dd" />
      <maximumFileSize value="50MB" />
      <layout type="log4net.Layout.PatternLayout">
        <converter>
          <name value="machine" />
          <type value="Seed.Logging.PatternConverters.MachinePatternConverter" />
        </converter>
        <converter>
          <name value="url" />
          <type value="Seed.Logging.PatternConverters.UrlPatternConverter" />
        </converter>
        <converter>
          <name value="referrer" />
          <type value="Seed.Logging.PatternConverters.ReferrerUrlPatternConverter" />
        </converter>
        <conversionPattern value="%date{dd.MM.yyyy HH:mm:ss}  %machine Current URL: '%url' Referrer URL: '%referrer' %message%newline%exception%newline" />
      </layout>
    </appender>
    <logger name="DebugLogger">
      <level value="DEBUG" />
      <appender-ref ref="DebugAppender" />
    </logger>
    <logger name="InfoLogger">
      <level value="INFO" />
      <appender-ref ref="InfoAppender" />
    </logger>
    <logger name="WarnLogger">
      <level value="WARN" />
      <appender-ref ref="WarnAppender" />
    </logger>
    <logger name="ErrorLogger">
      <level value="ERROR" />
      <appender-ref ref="ErrorAppender" />
    </logger>
    <logger name="FatalErrorLogger">
      <level value="FATAL" />
      <appender-ref ref="FatalErrorAppender" />
    </logger>
    <renderer renderingClass="Seed.Logging.ObjectRenders.ExceptionRender" renderedClass="System.ApplicationException" />
  </log4net>
  <connectionStrings>
    <add name="Seed" connectionString="Data Source=192.168.25.9;Initial Catalog=Quizzler;Connection Timeout=300;User ID=sa;Password=1234567" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Seed.Site.UI.EnableJsCssMinification" value="false" />
    <add key="Seed.Common.TraceLog.IsEnableTraceLogging" value="false" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
    </compilation>
    <httpRuntime requestValidationMode="2.0" requestPathInvalidCharacters="" />
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <staticContent>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="4096" />
      </requestFiltering>
    </security>
    <handlers>
      <add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition="" />
    <remove name="ExtensionlessUrlHandler-Integrated-4.0" /><remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" /></handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <gcServer enabled="true" />
  </runtime>
  <dotless minifyCss="false" cache="true" web="false" />
</configuration>