@using System.Globalization
@using System.Web.Optimization
@using Seed.Mvc.Uipc.ViewModelsProviders
@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization

<!DOCTYPE html>

<html ng-app="seedApp">
    <head>
        <meta name="viewport"
              content="width=device-width, initial-scale=1"
              charset="utf-8" />
        <link rel="shortcut icon" type="image/x-icon" href="~/Content/Images/favicon.ico" />
        <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
        <!-- TODO: implement dynamic page title -->
        <title ng-bind="title + ' - Seed App'">Seed App</title>
        @Styles.Render("~/Content/less/less-bundle")
    </head>
    <body class="app">
        <header>
        <div class="container">
            <div class="row row-centred">
                <div class="col-lg-2">
                    <img title="" alt="" 
                         src="~/Content/Images/Logo/logo.png"/>
                </div>
                <div class=" col-lg-10 txt-r">
                    <span>Hello, username |</span>
                    <a href="/log-off" target="_self">
                        Log Off
                    </a>
                </div>
                
                </div>
            </div>
        </header>
        <div class="container">
            <div ui-view></div>
        </div>
        @{Html.RenderPartial("Partial/Footer");}
        @Scripts.Render("~/Scripts/lib-bundle")
        @Scripts.Render("~/Scripts/app-bundle")
        <script type="text/javascript">
            angular.module('seedApp.services.utils').config(['localizationServiceProvider', function(localizationServiceProvider) {
                localizationServiceProvider.setLocalizationResources(@Html.Raw(JsonConvert.SerializeObject(ViewModelsProvider.GetLocalizationVm(new CultureInfo("en-us")))));
            }])
        </script>
    </body>
</html>