@using System.Globalization
@using System.Web.Optimization
@using Seed.Web.Uipc
@using Newtonsoft.Json

<!DOCTYPE html>

<html ng-app="seedApp">
    <head>
        <meta name="viewport"
              content="width=device-width, initial-scale=1"
              charset="utf-8" />
        <link rel="shortcut icon" type="image/x-icon" href="~/Content/Images/favicon.ico" />
        <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
        <title ng-bind="title + ' - Soci-o-rama'">Soci-o-rama</title>
        @Styles.Render("~/Content/less/less-bundle")
    </head>
    <body class="app">
        <div class="container" ui-view>
        </div>
        @Scripts.Render("~/Scripts/lib-bundle")
        @Scripts.Render("~/Scripts/app-bundle")
        <script type="text/javascript">
            angular.module('seedApp.services.utils').config(['localizationServiceProvider', function(localizationServiceProvider) {
                localizationServiceProvider.setLocalizationResources(@Html.Raw(JsonConvert.SerializeObject(ViewModelsProvider.GetLocalizationVm(new CultureInfo("en-us")))));
            }])
        </script>
    </body>
</html>