@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Images/favicon.ico" />
    <title>Index</title>
    @Styles.Render("~/Content/Less/less-bundle")
</head>
<body class="app">
    <header>
        <div class="container">
            <div class="row row-centred">
                <div class="col-lg-4">
                    <a href="/" class="logo">
                        ? Soci-o-rama
                    </a>
                </div>
                <div class=" col-lg-20 txt-r">
                    @* TODO: replace url.*@
                    <a href="/dashboard">
                        Log In
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    Attention image
                </div>
                <div class="col-lg-offset-4 col-lg-10">
                    <h1>
                        Promo header
                    </h1>
                    <span class="txt-black">
                        Promo text.
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 head txt-c h1">
                    Catch-phrase
                </div>
                <div class="arrow"></div>
            </div>
        </div>
    </div>
    <div class="container margin">
        <ul class="list-unstyled list-divider-h">
            <li class="row">
                <h2 class="col-lg-offset-4 col-lg-16 txt-black clearfix  txt-c">
                    Feature
                </h2>
                <h4 class="col-lg-offset-6 col-lg-12 clearfix  txt-c">
                    Feauture description
                </h4>
                <div class="col-lg-offset-6 col-lg-8 margin">
                    <ul class="landing-list">
                        <li>
                            item
                        </li>
                        <li>
                            item
                        </li>
                        <li>item</li>
                    </ul>
                </div>
                <div class="col-lg-8 margin">
                    Some image
                </div>
            </li>
        </ul>
    </div>
    @Scripts.Render("~/Scripts/landing-bundle")
</body>
</html>
