@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Images/favicon.ico" />
    <title>Index</title>
    @Styles.Render("~/Content/Less/less-bundle")
</head>
<body class="app landing">
    <header>
        <div class="container">
            <div class="row row-centred">
                <div class="col-lg-3">
                    <a href="/" class="logo">
                        soci<i class="icon-check-circle-o"></i>rama
                    </a>
                </div>
                <div class=" col-lg-9 txt-r">
                    @* TODO: replace url.*@
                    <a href="/surveys/manage">
                        Log In
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <img class="img" src="/Content/Images/Landing/cloud.png"/>
                </div>
                <div class="col-lg-offset-1 col-lg-8">
                    <h1>
                        Share your point!
                    </h1>
                    <span class="txt-black">
                        First step to HUGE changes is understanding what do you think about important items within iTechArt walls. Once we will get your point we can move forward and make our life at iTechArt better!
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 head txt-c h1 black-block">
                    Rock quizzes, fast sessions and help us improve
                </div>
                <div class="arrow"></div>
            </div>
        </div>
    </div>
    <div class="container margin">
        <ul class="list-unstyled list-divider-h col-lg-offset-4">
            <li class="row">
                <h2 class="txt-black">
                    Questions, quizzes, fast sessions
                </h2>
                <h4 class="">
                    sociOrama includes a lot variety of questions, answering helps to understand the value
                </h4>
                <div class="margin">
                    <ul class="landing-list">
                        <li>
                            Rock quizzes - theme based questions joind into gruops
                        </li>
                        <li>
                            Fast sessions - generic questions, any time skip and move forvard
                        </li>
                        <li>
                            Geting statistics show you where we are going
                        </li>
                    </ul>
                </div>
            </li>
            <li class="row">
                <h2 class="txt-black">
                    Interation is game based, help us whie plaing
                </h2>
                <h4 class="">
                    Earning points, achivements makes it better
                </h4>
                <div class="margin">
                    <ul class="landing-list">
                        <li>
                            Earn points - each ansver gets you better value
                        </li>
                        <li>
                            Get achivements and became fastest and most active
                        </li>
                        <li>
                            Getting value you are raising you department reputation
                        </li>
                    </ul>
                </div>
            </li>
            <li class="row">
                <h2 class="txt-black">
                    Post you own questions and quizzes
                </h2>
                <h4 class="">
                    Each user can spend points to create new content
                </h4>
                <div class="margin">
                    <ul class="landing-list">
                        <li>
                            You can spend your points and create questions
                        </li>
                        <li>
                            Points returning back to you when your content is popular
                        </li>
                        <li>
                            Move your questions and show us what we missed
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    @Scripts.Render("~/Scripts/landing-bundle")
</body>
</html>
