html {
}

@import '_mixins.less';
@import '_variables.less';

.head {
    font-size: 18px;
    cursor: pointer;
    background-color: #aeb6cb;
    color: @white;
    padding: 7px 15px;
    position: relative;

    .title {
        font-size: 18px;
    }
}

.achivements {
    .list-unstyled();
    .row();

    li {
        padding: 10px 15px;
        position: relative;

        &.name {
            font-size: 18px;
            cursor: pointer;
            background-color: #aeb6cb;
            color: @white;
            padding: 7px 15px;
            position: relative;
        }

        .date {
            position: absolute;
            right: 15px;
            top: 5px;
        }

        &:nth-child(2n) {
            background-color: fade(@brand-color, 15%);
        }

        .icon-diamond {
            font-size: 20px;
            margin-right: 3px;
        }

        &:hover {
            .icon-diamond {
                color: @brand-color;
            }
        }
    }
}