html {
}

@import '_variables.less';
@import '_mixins.less';

@grid-head-bg-color: @white;
@grid-head-color: #bdbec0;

@grid-row-padding-v: 10px;

@grid-body-bg-color: #fefefe;
@grid-body-active-color: @white;

@grid-body-border-color: #c0c0c2;

@grid-single-color:@black;
@grid-price-color: @grid-single-color;


.grid {
    .list-unstyled();

    > li {
        .row();
        padding: @grid-row-padding-v 0;
        font-size: 0;
        cursor: pointer;

        &.details {
            padding: 0;
        }

        &.head {
            cursor: pointer;
        }

        > [class*="col-"] {
            font-size: @font-size-base;
            float: none;
            display: inline-block;
            vertical-align: middle;
        }

            > [class*="col-"]:not(.text) {
                text-align: center;
            }

            > [class*="col-"].text {
                font-weight: bold;
                text-align: center;
            }

        &:nth-child(2n+1) {
            background-color: fade(@brand-color, 15%);
        }

        .icon-bullhorn {
                font-size: 23px;
                color: @text-color;
            }

        &:hover {
            .icon-bullhorn {
                color: @brand-color;
            }
        }
    }

    .head {
        background-color: @grid-head-bg-color;
        color: @grid-head-color;
        text-transform: uppercase;
    }
}
