html {
}

@import '_variables.less';
@import '_mixins.less';

@grid-head-bg-color: #8f9094;
@grid-head-color: @white;

@grid-body-bg-color: #fefefe;
@grid-body-color: #4a4a4a;
@grid-body-bg-active-color: #619e91;
@grid-body-active-color: @white;

@grid-body-border-color: @grid-head-bg-color;

.grid {
    width: 100%;
    border-collapse: collapse;

    > thead {
        background-color: @grid-head-bg-color;
        color: @grid-head-color;
        text-transform: uppercase;

        > tr {

            >th {
                font-weight: normal;
                text-transform: uppercase;
                padding: 5px;
                border-right: 1px solid @grid-head-color;
                text-align: center;

                &:last-of-type {
                    border: none;
                }
            }
        }
    }

    > tbody {
        background-color: @grid-body-bg-color;
        color: @grid-body-color;

        > tr {
            border-bottom: 1px dashed @grid-body-border-color;
            cursor: pointer;

            &.details > td{
                padding: 0;
            }

            &.active {
                background-color: @grid-body-bg-active-color;
                border-bottom: none;
                color: @grid-body-active-color;

                + tr {
                    background: none;

                    &:hover {
                        background: none;
                        cursor: inherit;
                    }
                }

                .no-touch &:hover {
                    background-color: @grid-body-bg-active-color;
                    cursor: inherit;
                }

                > td {
                    border-color: @grid-body-bg-color;
                }
            }

            &:last-of-type {
                border-bottom-style: solid;
            }

            .no-touch &:hover {
                background-color: darken(@grid-body-bg-color, 10%);
            }

            > td {
                padding: 5px 5px 5px 10px;
                border-right: 1px solid @grid-body-border-color;

                &:last-of-type {
                    border: none;
                }
            }
        }
    }
}
