html {
}

@import '_variables.less';
@import '_mixins.less';


[class^="icon-"], [class*=" icon-"] {
    font-family: @font-family-icon;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-trash:before {
    content: "\e600";
}

.icon-top:before {
    content: "\e601";
}

.icon-sort:before {
    content: "\e602";
}

.icon-right:before {
    content: "\e603";
}

.icon-rate:before {
    content: "\e604";
}

.icon-logo:before {
    content: "\e605";
}

.icon-listings:before {
    content: "\e606";
}

.icon-left:before {
    content: "\e607";
}

.icon-leads:before {
    content: "\e608";
}

.icon-house-envelope:before {
    content: "\e609";
}

.icon-house-agent:before {
    content: "\e60a";
}

.icon-filter:before {
    content: "\e60b";
}

.icon-envelope-mark:before {
    content: "\e60c";
}

.icon-envelope-house:before {
    content: "\e60d";
}

.icon-envelope-cross:before {
    content: "\e60f";
}

.icon-envelope-agent:before {
    content: "\e60e";
}

.icon-cross:before {
    content: "\e610";
}

.icon-checkbox-active:before {
    content: "\e61c";
}

.icon-checkbox:before {
    content: "\e61b";
}

.icon-but-drop-top:before {
    content: "\e611";
}

.icon-but-drop-right:before {
    content: "\e612";
}

.icon-but-drop-left:before {
    content: "\e614";
}

.icon-but-drop-bottom:before {
    content: "\e613";
}

.icon-bottom:before {
    content: "\e615";
}

.icon-arrow-right-double:before {
    content: "\e620";
}

.icon-arrow-right:before {
    content: "\e61f";
}

.icon-arrow-left-double:before {
    content: "\e61e";
}

.icon-arrow-left:before {
    content: "\e61d";
}

.icon-arrow-index:before {
    content: "\e616";
}

.icon-agents:before {
    content: "\e617";
}

.icon-agent-house:before {
    content: "\e618";
}

.icon-agent-envelope:before {
    content: "\e619";
}

.icon-activity:before {
    content: "\e61a";
}
