html {
}

@import '_mixins.less';
@import '_variables.less';

@select-items-color:#8e8e8e;
@select-items-zindex: 1050;
@select-items-bg-color: #e7e7e7;
@select-items-hover-color: @white;
@select-items-hover-bg-color:#8e8e8e;
@select-items-padding: 5px 10px;
@select-caption-min-width: 100px;

.select {
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #E5E4ED;

    > .items {
        .list-unstyled();
        .clearfix();
        background-color: @white;
        position: absolute;
        color: @select-items-color;
        z-index: @select-items-zindex;
        width: 100%;
        border-bottom: 2px solid @brand-color;

        > li {
            padding: 10px 15px;

            &:hover {
            }

            &:nth-child(2n+1) {
                background-color: fade(@brand-color, 15%);
            }
        }
    }

    > .caption {
        min-width: @select-caption-min-width;
        font-size: 18px;
        cursor: pointer;
        background-color: #aeb6cb;
        color: @white;
        padding: 7px 15px;
        position: relative;
    }
}