html {
}

@import '_mixins.less';
@import '_variables.less';

.surveys{
    .title{
        font-size: 18px;
        cursor: pointer;
    }
}

.splitter{
    width: 90%;
    border-bottom: 1px dashed @text-color;
    padding-top: 10px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.editor {
    .container();

    .tabs {
        position: relative;
        cursor: pointer;

        .slider {
            width: 50%;
            height: 100%;
            position: absolute;
            left: 0;
            transition: left linear 0.5s;
            border: 1px solid @brand-color;

            &.right {
                left: 50%;
            }
        }
    }

    .toolbar {
        padding: 5px;

        .btn {
            width: 100%;
            margin-bottom: 10px;
        }
    }

    .questions {
        > li {
            padding: 5px;
            border: 1px dashed @brand-color;
            margin: 5px;
            .answer {
            }
        }
    }
}